In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [39]:
data=pd.read_csv('C:/Users/Admin/Desktop/crop_production.csv')
data

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0
...,...,...,...,...,...,...,...
246086,West Bengal,PURULIA,2014,Summer,Rice,306.0,801.0
246087,West Bengal,PURULIA,2014,Summer,Sesamum,627.0,463.0
246088,West Bengal,PURULIA,2014,Whole Year,Sugarcane,324.0,16250.0
246089,West Bengal,PURULIA,2014,Winter,Rice,279151.0,597899.0
246090,West Bengal,PURULIA,2014,Winter,Sesamum,175.0,88.0

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246091 entries, 0 to 246090
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   State_Name     246091 non-null  object
 1   District_Name  246091 non-null  object
 2   Crop_Year      246091 non-null  int64
 3   Season         246091 non-null  object
 4   Crop           246091 non-null  object
 5   Area           246091 non-null  float64
 6   Production     242361 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.1+ MB

In [41]:
data['Production'].fillna(data['Production'].mean(),inplace=True)
data

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0
...,...,...,...,...,...,...,...
246086,West Bengal,PURULIA,2014,Summer,Rice,306.0,801.0
246087,West Bengal,PURULIA,2014,Summer,Sesamum,627.0,463.0
246088,West Bengal,PURULIA,2014,Whole Year,Sugarcane,324.0,16250.0
246089,West Bengal,PURULIA,2014,Winter,Rice,279151.0,597899.0
246090,West Bengal,PURULIA,2014,Winter,Sesamum,175.0,88.0

In [42]:
data.isnull().sum(0)

State_Name       0
District_Name    0
Crop_Year        0
Season           0
Crop             0
Area             0
Production       0
dtype: int64

In [43]:
data.describe()

           Crop_Year          Area    Production
count  246091.000000  2.460910e+05  2.460910e+05
mean     2005.643018  1.200282e+04  5.825034e+05
std         4.952164  5.052340e+04  1.693599e+07
min      1997.000000  4.000000e-02  0.000000e+00
25%      2002.000000  8.000000e+01  9.100000e+01
50%      2006.000000  5.820000e+02  7.880000e+02
75%      2010.000000  4.392000e+03  8.000000e+03
max      2015.000000  8.580100e+06  1.250800e+09

In [44]:
cat_feature=['State_Name','District_Name','Season','Crop']
data=pd.get_dummies(data,columns=cat_feature)
data

,Crop_Year,Area,Production,State_Name_Andaman and Nicobar Islands,State_Name_Andhra Pradesh,State_Name_Arunachal Pradesh,State_Name_Assam,State_Name_Bihar,State_Name_Chandigarh,State_Name_Chhattisgarh,...,Crop_Turmeric,Crop_Turnip,Crop_Urad,Crop_Varagu,Crop_Water Melon,Crop_Wheat,Crop_Yam,Crop_other fibres,Crop_other misc. pulses,Crop_other oilseeds
0,2000,1254.0,2000.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2000,2.0,1.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2000,102.0,321.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2000,176.0,641.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2000,720.0,165.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246086,2014,306.0,801.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
246087,2014,627.0,463.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
246088,2014,324.0,16250.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
246089,2014,279151.0,597899.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
246090,2014,175.0,88.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [45]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler().fit(data[["Crop_Year","Area","Production"]])
data_normalization=scaler.transform(data[["Crop_Year","Area","Production"]])
data_normalization

array([[-1.13950787e+00, -2.12749772e-01, -3.42764003e-02],
       [-1.13950787e+00, -2.37530417e-01, -3.43944332e-02],
       [-1.13950787e+00, -2.35551133e-01, -3.43755385e-02],
       ...,
       [ 1.68754488e+00, -2.31157121e-01, -3.34349949e-02],
       [ 1.68754488e+00,  5.28762317e+00,  9.09045945e-04],
       [ 1.68754488e+00, -2.34106255e-01, -3.43892962e-02]])

In [46]:
data_normalization=pd.DataFrame(data_normalization,columns=["Crop_Year","Area","Production"])
data_normalization=data_normalization.join(data[data.columns.drop(["Crop_Year","Area","Production"])])
data_normalization

,Crop_Year,Area,Production,State_Name_Andaman and Nicobar Islands,State_Name_Andhra Pradesh,State_Name_Arunachal Pradesh,State_Name_Assam,State_Name_Bihar,State_Name_Chandigarh,State_Name_Chhattisgarh,...,Crop_Turmeric,Crop_Turnip,Crop_Urad,Crop_Varagu,Crop_Water Melon,Crop_Wheat,Crop_Yam,Crop_other fibres,Crop_other misc. pulses,Crop_other oilseeds
0,-1.139508,-0.212750,-0.034276,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,-1.139508,-0.237530,-0.034394,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,-1.139508,-0.235551,-0.034376,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,-1.139508,-0.234086,-0.034357,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,-1.139508,-0.223319,-0.034385,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246086,1.687545,-0.231513,-0.034347,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
246087,1.687545,-0.225160,-0.034367,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
246088,1.687545,-0.231157,-0.033435,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
246089,1.687545,5.287623,0.000909,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
246090,1.687545,-0.234106,-0.034389,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
x=data_normalization[data_normalization.columns.drop("Production")]
y=data_normalization["Production"]

In [48]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30)

In [33]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [34]:
train_score=model.score(x_train,y_train)
test_score=model.score(x_train,y_train)
print("Train(RSquare):",train_score)
print("Test(RSquare):",test_score)

Train(RSquare): 0.15065364085592947
Test(RSquare): 0.15065364085592947

In [37]:
from sklearn.metrics import mean_squared_error
train_prediction=model.predict(x_train)
train_RMSE=mean_squared_error(y_train,train_prediction)**0.5
test_prediction=model.predict(x_test)
test_RMSE=mean_squared_error(y_test,test_prediction)**0.5
print("Train:",train_RMSE)
print("test:",test_RMSE)

Train: 0.8809869159191779
test: 27834048.06193074