In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [3]:
data= pd.read_csv('C:/Users/Admin/Desktop/CarPrice_Assignment.csv')
data.head(5)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [5]:
data.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [6]:
data.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [7]:
data.describe(include=['O'])

,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem
count,205,205,205,205,205,205,205,205,205,205
unique,147,2,2,2,5,3,2,7,7,8
top,toyota corona,gas,std,four,sedan,fwd,front,ohc,four,mpfi
freq,6,185,168,115,96,120,202,148,159,94

In [8]:
data['CarName'] = data['CarName'].replace({'maxda': 'mazda', 'nissan': 'Nissan', 'porcshce': 'porsche', 'toyouta': 'toyota', 
                            'vokswagen': 'volkswagen', 'vw': 'volkswagen'})
data['CarName']

0            alfa-romero giulia
1           alfa-romero stelvio
2      alfa-romero Quadrifoglio
3                   audi 100 ls
4                    audi 100ls
                 ...
200             volvo 145e (sw)
201                 volvo 144ea
202                 volvo 244dl
203                   volvo 246
204                 volvo 264gl
Name: CarName, Length: 205, dtype: object

In [9]:
data.duplicated().sum()

0

In [10]:
data = pd.get_dummies(data)
data

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,...,cylindernumber_twelve,cylindernumber_two,fuelsystem_1bbl,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
0,1,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,...,0,0,0,0,0,0,0,1,0,0
1,2,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,...,0,0,0,0,0,0,0,1,0,0
2,3,1,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,...,0,0,0,0,0,0,0,1,0,0
3,4,2,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,...,0,0,0,0,0,0,0,1,0,0
4,5,2,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,...,0,0,0,0,0,0,0,1,0,0
201,202,-1,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,...,0,0,0,0,0,0,0,1,0,0
202,203,-1,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,...,0,0,0,0,0,0,0,1,0,0
203,204,-1,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,...,0,0,0,0,0,1,0,0,0,0
204,205,-1,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,...,0,0,0,0,0,0,0,1,0,0

In [22]:
y = data['price']
X = data[['horsepower','enginesize','citympg']]
print(X)

     horsepower  enginesize  citympg
0           111         130       21
1           111         130       21
2           154         152       19
3           102         109       24
4           115         136       18
..          ...         ...      ...
200         114         141       23
201         160         141       19
202         134         173       18
203         106         145       26
204         114         141       19

[205 rows x 3 columns]

In [29]:

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error , r2_score , mean_squared_error
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)
from sklearn.linear_model import LinearRegression
#building and training the model
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [24]:
X_train

     horsepower  enginesize  citympg
123          88         122       24
73          184         308       14
153          62          92       31
41          101         110       24
61           84         122       26
..          ...         ...      ...
157          70          98       30
184          52          97       37
192          68          97       33
115          97         120       19
178         161         171       20

[164 rows x 3 columns]

In [25]:
y_train

123     8921.0
73     40960.0
153     6918.0
41     12945.0
61     10595.0
        ...
157     7198.0
184     7995.0
192    13845.0
115    16630.0
178    16558.0
Name: price, Length: 164, dtype: float64

In [26]:
X_test

     horsepower  enginesize  citympg
12          121         164       21
65          120         140       19
127         207         194       17
162          70          98       28
120          68          90       31
108          95         152       28
110          95         152       25
196         114         141       24
151          62          92       31
22           68          90       31
199         162         130       17
30           58          92       49
125         143         151       19
15          182         209       16
102         152         181       17
71          155         234       16
187          68          97       37
122          68          98       31
194         114         141       23
57          101          70       17
137         160         121       19
204         114         141       19
84          145         156       19
90           55         103       45
167         116         146       24
135         110         121       21
31           76          92       31
197         114         141       24
74          184         304       14
118          68          90       37
35           76          92       30
147          94         108       25
28           88         122       24
67          123         183       22
103         152         181       19
146          82         108       28
76           68          92       37
136         160         121       19
46           90         119       24
91           69          97       31
183          85         109       27

In [27]:
y_test

12     20970.0
65     18280.0
127    34028.0
162     9258.0
120     6229.0
108    13200.0
110    13860.0
196    15985.0
151     6338.0
22      6377.0
199    18950.0
30      6479.0
125    22018.0
15     30760.0
102    14399.0
71     34184.0
187     9495.0
122     7609.0
194    12940.0
57     13645.0
137    18620.0
204    22625.0
84     14489.0
90      7099.0
167     8449.0
135    15510.0
31      6855.0
197    16515.0
74     45400.0
118     5572.0
35      7295.0
147    10198.0
28      8921.0
67     25552.0
103    13499.0
146     7463.0
76      5389.0
136    18150.0
46     11048.0
91      6649.0
183     7975.0
Name: price, dtype: float64

In [31]:
y_pred1=model.predict(X_test)
y_pred1

array([11162.96611919,  7427.86310207, 11238.44576454, 12074.82716148,
       16358.28506603,  9709.05859007, 19162.06489404,  6503.10603456,
        6476.33944049,  7101.94146105,  6531.39895315, 14612.28082865,
       16493.33868851, 21408.17673634,  7392.51184478, 21408.17673634,
       10331.38335605, 20636.18945337, 15563.78298719,  6503.10603456,
        6744.45459216,  6623.78031336,  7966.08549871, 10099.86161688,
       19541.27361464, 13481.52646081, 16358.28506603,  9940.31766295,
       15599.64301933,  7392.51184478, 13481.52646081,  7830.01432654,
       12210.89833366,  3848.31490697, 11963.50898704, 19541.27361464,
       11760.01255487, 16358.28506603,  9505.58366094,  5816.42521537,
       19541.27361464])

In [28]:
#importing required module to build the model
from sklearn.linear_model import LinearRegression
#building and training the model
model = LinearRegression()
model.fit(X_train,y_train)
#Evaluating the model on the train and test data for R-Squared score 
train_score=model.score(X_train,y_train)
test_score=model.score(X_test,y_test)
print('Train Score (R-Squared): ',train_score)
print('Test Score (R-Squared)',test_score)

Train Score (R-Squared):  0.7836917899042233
Test Score (R-Squared) 0.8268150448627668

In [33]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [36]:
y_pred=lr.predict(X)
y_pred

array([14612.28082865, 14612.28082865, 19460.74922693, 11267.73472978,
       15923.28345242, 15563.78298719, 15563.78298719, 15563.78298719,
       16573.12969586, 17602.91804026, 11238.44576454, 11238.44576454,
       19162.06489404, 19162.06489404, 19298.13606622, 27998.6006763 ,
       27998.6006763 , 28134.67184847,   -67.30397768,  5639.97954658,
        5639.97954658,  5686.67900153,  6503.10603456,  9940.31766295,
        6503.10603456,  6503.10603456,  6503.10603456,  9940.31766295,
       12210.89833366, 19541.27361464,  3848.31490697,  7101.94146105,
        3865.70389364,  7238.01263322,  7238.01263322,  7238.01263322,
        7238.01263322, 10265.22175429, 10265.22175429, 10265.22175429,
       10265.22175429, 11343.72314997, 11162.96611919, 10436.62268072,
        5639.97954658,  5639.97954658, 11938.24721447, 33779.59635812,
       33779.59635812, 46100.5735016 ,  6759.85148553,  6623.78031336,
        6623.78031336,  6623.78031336,  6623.78031336,  7469.25020307,
        7469.25020307,  7469.25020307, 10331.38335605, 11760.01255487,
       11760.01255487, 11760.01255487, 11760.01255487,  9505.58366094,
       11760.01255487, 16493.33868851, 11991.51773631, 21408.17673634,
       21408.17673634, 21408.17673634, 21408.17673634, 29808.93946386,
       29808.93946386, 40306.86833931, 39824.1712241 , 18951.06091213,
        5928.02755914,  6744.45459216,  6744.45459216,  9940.31766295,
       12150.08220131, 12074.82716148, 19541.27361464, 19541.27361464,
       19541.27361464, 12074.82716148, 12074.82716148, 12150.08220131,
       12150.08220131,  7392.51184478,  5585.95908665,  7392.51184478,
        7392.51184478,  7392.51184478,  7392.51184478,  7392.51184478,
        7392.51184478,  7392.51184478,  7392.51184478, 11963.50898704,
       11963.50898704, 23143.07393932, 23143.07393932, 22870.93159498,
       23228.41846387, 25287.99515266, 23228.41846387, 13052.07836441,
       15599.64301933, 13052.07836441, 16007.85653584, 12962.70664718,
       15599.64301933, 12962.70664718, 16007.85653584, 13052.07836441,
       15599.64301933, 16888.45307732,  5686.67900153,  9940.31766295,
        6503.10603456,  6503.10603456,  7468.50026497, 12210.89833366,
       19541.27361464, 18848.5305034 , 27169.56178737, 27169.56178737,
       27169.56178737, 31875.18484411, 13643.08401107, 13643.08401107,
       13481.52646081, 13481.52646081, 13481.52646081, 13481.52646081,
       15987.96173572, 15987.96173572,  7392.51184478,  9579.02820691,
        9579.02820691,  9164.77390139,  9709.05859007, 10517.43123775,
       10253.34327875, 11549.23317848,  9709.05859007, 10653.50240992,
       10389.41445092, 11685.30435065,  5932.05475181,  6476.33944049,
        6476.33944049,  6476.33944049,  7020.62412918,  7020.62412918,
        7693.94315437,  7693.94315437,  7972.14779076,  7427.86310207,
        6605.373777  ,  7966.08549871,  7966.08549871,  7830.01432654,
        7830.01432654, 10115.03390472, 10115.03390472, 16358.28506603,
       16358.28506603, 16358.28506603, 16358.28506603, 16358.28506603,
       16358.28506603, 11709.28590725,  9276.09207583, 11981.42825159,
       11981.42825159, 11981.42825159, 21930.29036228, 22066.36153445,
       21706.86106923, 20636.18945337,  5816.42521537, 10099.86161688,
        5816.42521537, 10099.86161688, 10099.86161688,  6531.39895315,
       10906.22066822, 10731.50442645, 10731.50442645, 15563.78298719,
        7075.68364183, 10506.06153705, 15801.61312697, 15801.61312697,
       15665.5419548 , 15665.5419548 , 17435.5443065 , 17435.5443065 ,
       15801.61312697, 18401.44731177, 21237.26308173, 15518.60985677,
       16345.89781565])

In [37]:
r2_score(y,y_pred)

0.7964595231978453

In [38]:
y_new=np.sqrt(y)
y_new

0      116.167982
1      128.452326
2      128.452326
3      118.110118
4      132.098448
          ...
200    129.788289
201    138.003623
202    146.577624
203    149.899967
204    150.416090
Name: price, Length: 205, dtype: float64

In [39]:
r2_score(y,y_pred)

0.7964595231978453